<form>
    <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
    <input type="text" class="form-control mb-2" id="location" name="location" placeholder="Your Location (Optional)">
    <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
    <button type="button" value="send" class="btn btn-block btn-outline-primary rounded contactUs">
      <img src="https://i.postimg.cc/XNfdkTm9/whatsapp-inside-white.png" 
      alt="" 
      height="25px" 
      width="25px">
      Start Now
    </button>
</form>