{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section-sm pt-0">
  <div class="container">
    <div class="row">
      {{ range (sort .Data.Pages ".Params.ProductID" "desc") }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card border-0 text-center">
          <a href="{{ .Permalink }}">
			{{ range first 1 .Params.Images }}
			<!--get and resize image-->
			{{ $src:= resources.Get .image }}
			{{ $small:= $src.Fill "800x900 center q85 Box" }}
			<img data-src="{{ $small.RelPermalink }}" alt="product-image" class="card-img-top rounded lazyload">
            {{ end }}
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            <div class="mb-4">
              <span class="lead text-primary">{{ .Params.Price }}</span>
              <del>{{ .Params.PriceBefore }}</del>
            </div>

            <div class="mb-2">
              <a class="btn btn-sm btn-outline-primary" href="https://wa.me/919820927720?text=Hi,%0ASend update for {{ .Params.Title }}%0ALink: {{.Permalink}}" data-action="share/whatsapp/share" target="_blank" role="button" rel="noreferrer noopener" aria-label="get update on whatsapp">Get update on Whatsapp</a>      	
            </div>
            
            <div>
              <a class="btn btn-sm btn-outline-primary" href="https://wa.me/?text={{ .Params.Title }}%0D%0ALink: {{.Permalink}}" data-action="share/whatsapp/share" target="_blank" role="button" rel="noreferrer noopener" aria-label="share via whatsapp">Share Via Whatsapp</a>
            </div>
      
            <!--			
              <button class="snipcart-add-item btn btn-sm btn-outline-primary" data-item-id="{{ .Params.ProductID }}"
              data-item-name="{{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}"
              {{ end }} data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}">
              Add to cart
              </button>
            -->
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!--
{{ partial "cta.html" . }}
-->

{{ end }}
